name: Watch KernelSU Next
on:
  schedule:
    - cron: '0 */6 * * *'  # Run every 6 hours
  workflow_dispatch:  # Allows manual triggering

jobs:
  check-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Check for new release
        id: check_release
        run: |
          LATEST_RELEASE=$(curl --silent "https://api.github.com/repos/KernelSU-Next/KernelSU-Next/releases/latest" | jq -r .tag_name)
          CURRENT_RELEASE=$(cat ksu_version.txt || true)
          if [ "$LATEST_RELEASE" != "$CURRENT_RELEASE" ]; then
            echo "release=$LATEST_RELEASE" >> $GITHUB_OUTPUT
            echo "update_needed=true" >> $GITHUB_OUTPUT
          else
            echo "update_needed=false" >> $GITHUB_OUTPUT
          fi

      - name: Create file with KernelSU Next version
        if: steps.check_release.outputs.update_needed == 'true'
        run: |
          echo "${{ steps.check_release.outputs.release }}" > ksu_version.txt

      - name: Commit and push
        if: steps.check_release.outputs.update_needed == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add ksu_version.txt
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update to latest KernelSU Next release tag" && git push https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:$BRANCH_NAME)

      - name: Trigger Build Kernel workflow
        if: steps.check_release.outputs.update_needed == 'true'
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: trigger-KernelSU-build
